:root{
    font-family: 'Raleway', sans-serif;
}

.text-vertical-centering{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-style{
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
}