
:root{
    font-family: 'Raleway', sans-serif;
}

.margin-sides{
    margin: 0 200px;
}

.text-vertical-centering{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-style{
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
}

.btn-style:hover{
    filter:drop-shadow(0 0 0.3rem #f72b0c);
    transition: 0.2s;
}

.btn-style:active{
    filter:drop-shadow(0 0 0.3rem #f72b0c) brightness(50%);
    transition: 0.05s;
}