/* COLOR CUBE */
$white: #ffffff;
$mine-shaft: #272727;
$mine-shaft-alpha: #272727a1;
$gray: #868686;
$scarlet: #f72b0c;
$cloud: #c6c1bd;
$froly: #f0776b;


/* MEDIAN CUT */
$masala: #403d3b;
$dust-storm: #e4cdc9;
$natural-gray: #8b8a87;
$dut-gray: #9c9c9c;
$sushi: #86b54a;


/* MATERIAL DESIGN */
$sushi-vibrant: #86b648;
$chicago: #5d5d5c;
$thunderbird: #bf351f;
$black: #040404;
$burnt-sienna: #e97c62;